 <div class="container">

   <h1>Login Starts Here...</h1>

  <form action="/sessions" method="post">

   <label for="username">Username</label>
   <input type="username" name="username" placeholder="username">
   <label for="password">Password</label>
   <input type="password" name="password" placeholder="password">
   <input type="submit" value="submit">
  </form>

</div>

