 <h3>New Comment</h3>
  <form action="/suggestions/<%=suggestion.id%>/comments" method="post">
    <label for="text">Text:</label>
    <input type="text" name="comment[text]">
    <input type="submit" value="Submit">
  </form>
<%= erb :'/comments/_comment', layout: false  %>
