h1, h2, h3 {
  text-decoration: underline;

}

div form #button {
  max-height: 30%;
  max-width: 50%;
  background-color: LightBlue;
}

#suggestion {
  border: 2px solid pink;
  padding: 5px;
  margin: 5px;
}

#profile {
  padding-left: 20px;
}

#logout {
  display: inline block;
  float: right;
}

p, h1, h2, h3, a, li {
  font-family: Consolas;
}