<% if @error %>
  <%= @error %>
<% end %>

<h1>Login Here</h1>

<form id="session-user" method="POST" action="/session">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In">
</form>
