<h1>Sign Up A New User</h1>

<form id="new-user" method="POST" action="/users">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password, min 6 chars" pattern=".{6,}" required>
  <input type="submit" name="CREATE A NEW USER">
</form>
