<h1>Sign up</h1>
  <form action="/users" method="post">
  <label for="username">Username: </label>
  <input type="text" name="user[username]">
  <label for="password">Password: </label>
  <input type="password" name="user[password]">
  <input type="submit" value="Submit">
</form>
