<div class="container">

  <h1>Sign-Up Starts Here...</h1>

  <form action="/users" method="post">

  <label for="user[username]">Username</label>
  <input type="username" name="user[username]" placeholder="username">
  <label for="user[password]">Password</label>
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="submit">
</form>

</div>
