<h1> Welcome to Thomas's Suggetion Site! </h1>

<!-- Style Nav Bar in future -->
<nav>
  <% if logged_in? %>
    <h3> Current User: <a href="/users/<%= @current_user.id %>"> <%= @current_user.username %> </a><br></h3>
    <p><a href ="/suggestions/new">New Suggestion</a></p>
    <p><a href="/sessions/logout"> Log Out</a></p>
  <% else %>
    <p><a href="/sessions/new"> Login </a></p>
    <p><a href="/users/new"> Sign Up!</a></p>
  <% end %>
</nav>


<br><br>

<div name="container">
  <% @suggestions.each do |suggestion| %>
    <h4><a href="/suggestions/<%= suggestion.id %>"><%= suggestion.title %></a> </p>
  <% end %>
</div>
