<html>
<head>
  <title>WELCOME TO THE SUGGESTION BOX!</title>
</head>
<body>
  <h1>WELCOME TO THE SUGGESTION BOX!</h1>
  <a href="/users/new" class="signup button">Sign Up</a>
  <a href="/sessions/new" class="login button">Log In</a>
</body>
</html>
