<form id ="sug-form" action="/suggestions" method="post">
    <h4>Add New Suggestion...</h4>
    <input type="text" name="suggestion[title]" placeholder="suggestion title" />
    <br>
    <input type="text" name="suggestion[description]" placeholder="add description here"></input>
    <br>
    <input type="submit" />
</form>
