<h1>Edit Suggestion</h1>
<form id="edit-suggestion" method="POST" action="/suggestions/<%= @suggestion.id %>">
  <input type="hidden" name="_method" value="put">

  <input class="text" type="text" name="suggestion[title]" value="<%= @suggestion.title %>">
  <input class="text" type="text" name="suggestion[description]" value="<%= @suggestion.description %>">
  <input type="submit" value="Edit Suggestion">
</form>







