<h1> Edit a suggestion </h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/suggestions/<%=@suggestion.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="title">Title</label>
  <input type="text" name="suggestion[title]" value="<%= @suggestion.title %>">
  <label for="body">Wisdom that must updated before shared</label>
  <input type="text" name="suggestion[body]" value="<%= @suggestion.body %>">
  <input type="submit" value="Update Suggestion">
</form>

<br>
<br>
<a href="/">Home</a>
