<div class="container">
  <p>Suggestions</p>
    <ul>
      <%@suggestions.each do |suggestion|%>
      <a href="/suggestions/<%=suggestion.id%>"><li> <%= suggestion.title %></li></a>
      <% end %>
    </ul>
</div>

