<div class="container">
  <h1>Suggestion Box</h1>
  <h3><a href='/suggestions/new'>New Suggestion</a></h3>

  <% @suggestions.each do |s| %>
    <ul>
      <li><%= s.title %> <a href="/suggestions/<%= s.id %>"> details</a>
      </li>
    </ul>
  <% end %>
</div
