<% if @suggestion.errors.any? %>
  <div>
    <ul>
      <% @suggestion.errors.full_message.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>


<form id="form1" name="form1" method="post" action="/suggestions">
  <input type="text" name="title" placeholder="Title" />
  <br>
  <textarea type="text" name="description" cols="45" rows="5" placeholder="Suggestion"></textarea>
  <br>
  <input type="submit" value="post suggestion" />
</form>
