<form id="new-suggestion" method="POST" action="/suggestions">
  <input class="text" type="text" name="suggestion[title]" placeholder="Title">
  <input class="text" type="text" name="suggestion[description]" placeholder="Description">
  <input type="submit" name="Submit!">
</form>
