<div class="container">
  <h1>New Suggestion</h1>

  <form action="/suggestions" method="post">
  <input
    type="text"
    name="suggestion[title]"
    placeholder="suggestion title" />
  <br>

  <textarea
    name="suggestion[description]"
    rows="4"
    cols="25">
  </textarea>
  <br>
  <input
  type="submit" />
  </form>
</div>
