<!DOCTYPE html>
<html lang="en">
<head>
  <title>Suggestion Box</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>



<div class='container'>
  <% if @errors %>
    <% @errors.each do |error| %>
      <div style="color: red"><%= error %></div>
    <% end %>
  <% end %>
  <h2>Write a Suggestion:</h2>

    Username:<br>
<!-- binding.pry -->
  <form id='suggestion-form' action='/suggestions' method='POST'>
    <input type='text' name='suggestion[user_id]' class="input input-round" placeholder="Anonymous"><br>
    <br>
    <br>
    Title:<br>
    <input type='text' name='suggestion[title]' class="input input-round" placeholder="Untitled"><br>
    <br>
    <br>

    Description:<br>
      <label for="suggestion[description]" class="label"></label>
    <textarea name="suggestion[description]" class="textarea rows='10' cols='100' input input-round"><%= @suggestion.try(:description) %></textarea>
    <br>

  <input type="submit" name="submit" value="Submit" class="input button">
  </form>



</div>

