<h1>Fill out the form to post your suggestion</h1>

<form action='/suggestions' method='post'>
  <input id="title_input" name="suggestion[title]" type="text" placeholder="title">
  <input id="description_input" name="suggestion[description]" type="text" placeholder="description">
  <input name="commit" type="submit" value="suggest">
</form>
