<div class="container">
  <!-- <h1>New Suggestion</h1> -->
  <form id ="suggestion-form" action="/suggestions" method="post">
    <h2>New Suggestion</h2>
    <input type="text" name="suggestion[title]" placeholder="suggestion title" />
    <br>
    <input type="text" name="suggestion[description]" description="add description here"></input>
    <br>
    <input type="submit" />
  </form>
</div>
