<center><h1>Add a sugestion!</h1>
<form action="/suggestions" method="post">
  <input type="text" name="suggestion[title]" placeholder="Title"><br>
  <textarea name="suggestion[description]" placeholder="Description"></textarea>
  <input type="submit" value="Submit">
</form></center>
<a href="/">Home</a>
