
<div class="container">
  <h1>Suggestion Details</h1>

  <a href="/">Home</a>

  <ul>
    <li>Suggestion: <%= @suggestions.title %></li>
    <li>Description: <%= @suggestions.description %></li>

  </ul>
  <form action="/suggestions/<%= @suggestions.id %>" method="post">
          <input type="hidden" id="hidden" name="_method" value="delete">
          <input type="submit" class="btn btn-danger" value="Delete!">
        </form>
</div>
