<h3><%= @suggestion.title %></h3><br>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<p><%= @suggestion.body %></p>

<% if logged_in? %>
  <%= erb :"partials/_suggestions", layout: false, locals: {suggestion: @suggestion } %>
<% end %>

<br><br>
<a href="/">Home</a>
